body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main, footer {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#intuit-main-logo {
    width: 7rem;
    
}
